@use '../abstracts/functions' as f;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-items: center;
    height: 100%;
    padding: clamp(f.rem(16), 5vw, f.rem(32));
    min-width: f.rem(375);
    max-width: f.rem(1200);
    margin: 0 auto;

    
}