@use '../abstracts/functions' as f;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

body {
    background-color: v.$background-light;
    color: v.$neutral-grey-500;
    font-family: v.$font-family-primary;
    font-size: v.$font-size-body;
    line-height: 1.6;
    min-height: 100dvh;
    margin: 0;
}

a:focus-visible, button:focus-visible {
    outline: 2px solid v.$primary-blue; 
    outline-offset: 2px;
}