:root {
    /* Primary Colors */
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);
  
    /* Neutral Colors */
    --neutral-grey-500: hsl(234, 12%, 34%);
    --neutral-grey-400: hsl(212, 6%, 44%);
    --neutral-white: hsl(0, 0%, 100%);
  }
  